* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    font-style: italic;
    margin: 2rem auto
}

div {
    margin: .75rem auto;
    width: 70%;
}

form {
    width: 70%; 
    height: auto; 
    padding: .5rem; 
    margin: 1.3rem auto;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    background: #f7f8fc;
    border-radius: 5px;
}

label {
    display: block; 
    width: 70%; 
    margin: .2rem 3rem; 
    font-style: italic
}

input {
    width: 70%; 
    margin: 0 3rem; 
    text-align: center; 
    height: 2rem
}

button {
    border-radius: 3px;
    height: 2.3rem;
    width: 70%;
    margin: 0 3rem;
    cursor: pointer;
    background: #d7882c;
    outline: none;
}









